/* Philansys Gradient Circular Progress bar Style */

.philansys-gcp {
    margin-left: auto;
    margin-right: auto;
    display: table;
    position: relative;
    text-align: center;
}

.philansys-gcp .philansys-gcp-progress {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    text-align: center;
}



